<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlamofireImageCaching.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25E7602B1E54B0BD0091A40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25E7603F1E54B0BE0091A40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25E7604A1E54B0BE0091A40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
